{{ define "content" }}
<form method="POST" action="/question/save" class="form mb-5">
    <div class="form-group">
        <label for="field">Question Title*</label>
        <input type="text" class="form-control" id="field" placeholder="Question title here" name="Title" required>
    </div>
    <div class="form-group">
        <label for="field">Problem Statement*</label>
        <textarea type="text" class="form-control" id="field" aria-describedby="help" rows="5"
            placeholder="Enter problem statement" name="Statement" required></textarea>
        <small id="help" class="form-text text-muted">Make the statement detailed, discrete and unambiguous.</small>
    </div>
    <div class="form-group">
        Choose Level:
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Level" id="Level1" value="0" checked>
            <label class="form-check-label" for="Level1">
                Easy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Level" id="Level2" value="1">
            <label class="form-check-label" for="Level2">
                Medium
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Level" id="Level3" value="2">
            <label class="form-check-label" for="Level3">
                Hard
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="field">Input Format*</label>
        <textarea type="text" class="form-control" id="field" aria-describedby="help" rows="5"
            placeholder="Enter input format" name="InputFormat" required></textarea>
        <small id="help" class="form-text text-muted">Make the input format detailed, discrete and unambiguous.</small>
    </div>
    <div class="form-group">
        <label for="field">Output Format*</label>
        <textarea type="text" class="form-control" id="field" aria-describedby="help" rows="5"
            placeholder="Enter output format" name="OutputFormat" required></textarea>
        <small id="help" class="form-text text-muted">Make the output format detailed, discrete and unambiguous.</small>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label for="field">Sample Input 0*</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Sample Input" name="SampleInput0" required></textarea>
        </div>
        <div class="form-group col-4">
            <label for="field">Sample Output 0*</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Sample Output" name="SampleOutput0" required></textarea>
        </div>
        <div class="form-group col-4">
            <label for="field">Explanation 0*</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Explanation" name="Explanation0"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label for="field">Sample Input 1</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Sample Input" name="SampleInput1"></textarea>
        </div>
        <div class="form-group col-4">
            <label for="field">Sample Output 1</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Sample Output" name="SampleOutput1"></textarea>
        </div>
        <div class="form-group col-4">
            <label for="field">Explanation 1</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Explanation" name="Explanation1"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label for="field">Sample Input 2</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Sample Input" name="SampleInput2"></textarea>
        </div>
        <div class="form-group col-4">
            <label for="field">Sample Output 2</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Sample Output" name="SampleOutput2"></textarea>
        </div>
        <div class="form-group col-4">
            <label for="field">Explanation 2</label>
            <textarea type="text" class="form-control" id="field" rows="5"
                placeholder="Explanation" name="Explanation2"></textarea>
        </div>
    </div>
    <div class="mb-3"></div>
    <input class="btn btn-success" type="submit" value="Add">
    <button class="btn btn-danger" type="reset">Reset</button>
    <a class="btn btn-secondary" href="/">Cancel</a>
</form>
{{end}}